.ck-editor__editable_inline {
    min-height: 400px;
}

.breakline {
    white-space: pre-line;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 20px;
}

.labelfilter {
    font-size: 17px;
    margin-top: 4px;
}